:root {
    --color-de-fondo: #ffffff;
    --color-principal: #8c0375;
    --color-secundario: #c004d9;
    --color-tres: #9309a6;
    --color-cuatro: #5d04d9;
    --color-cinco: #03318c;
    --color-de-link: #111111;
    --fuente-IBM:'IBM Plex Mono';
    --fuente-Press-Start:'Press Start 2P';
}

body {
    font-family: 'IBM Plex Mono';
    background-color: var(--color-de-fondo);
    box-sizing: border-box;
    line-height: 1.6;
}

ol, ul, li {
    list-style: none;
}

button {
    border: none;
    font-size: 0.85rem;
}

a {
    text-decoration: none;
    color: var(--color-de-link);
}

input {
    font-size: 1rem;
    padding-left: 0.8rem;
    outline: none;
}

/* Sección Cabecera */

.cabecera {
    background-color: var(--color-cuatro);
    height: 5rem;
    display:flex;
    justify-content: center;
    align-items: center;
}

.cabecera__logo {
    max-width: 20rem;
}

/* Sección Main */

.main {
    display: flex;
    padding: 3% 10% 3% 10%;
    justify-content: space-between;
}

.main__titulos {
    font-family: var(--fuente-Press-Start);
    padding: 0 0 2rem 0;
 }

 /* Sección Productos */

.productos {
    height: 40rem;
    width: 55%;
    align-items: center;
}

.productos__lista {
    border: 1px solid#888888;
    width: 90%;
    height: 50vh;
    padding: 15px 4rem 15px 15px;
    box-shadow: 5px 10px #888888;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    overflow-y: scroll;
}

.productos__lista__elemento {
    height: 40%;
    width: 25%;
    border: #111111 3px solid;
    border-radius: 10px;
    padding: 10px;
    margin-bottom: 3rem;
    background-color: var(--color-cuatro);
    color: var(--color-de-fondo);
    font-family: var(--fuente-IBM);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.productos__lista__elemento__container{
    width: 80%;
    height: 70%;
}

.productos__lista__elemento__imagen {
    width: 100%;
    height: 70%;
    border: #111111 3px solid;
    justify-self: center;
    align-self: center;
}

.productos__lista__elemento__titulo {
    padding: 10px 0 10px 0;
}

.productos__lista__elemento__detalles {
    height: 20%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.productos_lista_boton_eliminar {
    max-width: 2rem;
    max-height: 2rem;
}

/* Sección Formulario */

.formulario {
    width: 30%;
    height: 70rem;
    display: flex;
    flex-direction: column;
}

.formulario_form {
    display: flex;
    flex-direction: column;
    gap: 3rem;
    margin-top: 2rem;
}

.formulario_input {
    max-width: 100%;
    height: 3rem;
    border: var(--color-cinco) solid 3px;
    border-radius: 30px;
    font-family: var(--fuente-IBM);
    color: var(--color-cinco);
}

.formulario_input::placeholder {
    color: var(--color-cinco);
}

.formulario_input:focus {
    outline: none;
    border: var(--color-cinco) solid 3px;
}

.formulario__botones {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.formulario_botones__enviar {
    width: 45%;
    height: 3rem;
    border: #03318c solid 3px;
    border-radius: 30px;
    background-color: var(--color-cinco);
    font-family: var(--fuente-IBM);
    color: var(--color-de-fondo);
}

.formulario_botones__limpiar {
    width: 45%;
    height: 3rem;
    border: #03318c solid 3px;
    border-radius: 30px;
    font-family: var(--fuente-IBM);
    color: var(--color-cinco);
}

/* Sección Footer */

.footer {
    font-family: var(--fuente-IBM);
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: var(--color-cuatro);
    color: var(--color-de-fondo);
    height: 10rem;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 1rem;
}

.footer__creditos {
    font-weight:400;
    padding: 0.5rem;
}
.footer__copyright {
    font-weight: 100;
}

/* Responsividad */

@media screen and (max-width: 480px) and (min-width: 0px) {
    .main {
        flex-direction: column;
        padding: 3% 0 3% 0;
        justify-content: center;
        align-items: center;
    }
    .productos {
        padding-top: 1rem;
        width: 80%;
    }
    .productos__lista {
        display: flex;
        flex-direction: column;
        align-items: center;
        flex-wrap: nowrap;
        padding:10px
    }
    .productos__lista__elemento {
        width: 60%;
        margin-bottom: 1rem;
    }
    .formulario {
        width: 80%;
        height: 80%;
        margin-top: 3rem;
        display: flex;
        align-items: center;
    }
    .formulario_input {
        width: 100%;
    }

    .footer {
        position: relative;
    }
    
}

@media (max-width: 960px) and (min-width: 480px) {
    .main {
        flex-direction: column;
        padding: 3% 5% 3% 5%;
        justify-content: center;
        align-items: center;
    }

    .productos {
        width: 80%;
        padding-bottom: 2rem;
    }

    .productos__lista {
        height: 60vh;
        padding: 10px;
    }

    .productos__lista__elemento {
        width: 35%;
    }

    .productos__lista__elemento__imagen {
        width: 100%;
        height: 70%;
    }

    .formulario {
        width: 80%;
        height: 80%;
        margin-top: 3rem;
        display: flex;
        align-items: center;
    }

    .formulario_input {
        width: 100%;
    }

    .formulario_botones__enviar {
        width: 100%;
    }

    .formulario_botones__limpiar {
        width: 100%;
    }

    .footer {
        position: relative;
    }
}

@media (min-width: 960px) {
    .main {
        padding: 3% 3% 0 3%;
    }

    .productos {
        width: 80%;
    }

    .productos__lista {
        height: 60vh;
    }

    .productos__lista__elemento {
        width: 25%;
    }

    .productos__lista__elemento__imagen {
        width: 100%;
        height: 70%;
    }

    .formulario {
        width: 100%;
        height: 80%;
        display: flex;
        align-items: center;
    }

    .formulario_input {
        width: 100%;
    }

    .formulario_botones__enviar {
        width: 100%;
    }

    .formulario_botones__limpiar {
        width: 100%;
    }
}


